@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Newspaper", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	box-sizing: border-box;
}
/* Navbar */
.header-area {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
}
.header-area .main-menu {
	width: 80%;
}
.header-area .main-menu nav {
	width: 100%;
}
.header-area .main-menu nav #dropdown {
	justify-content: flex-end;
}
.fa-home,
.nav-links {
	color: #fff;
	margin-left: 25px;
}
span {
	background-color: #fff;
}
.fa-home {
	font-size: 25px;
}

/* Home */
.background-image {
	height: 100vh;
	background: url(./images/Skyline_Almere.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* About */
/* Projects */
/* Skills */
/* Tools */
/* Contact */
