@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400&family=Noto+Serif+KR:wght@200;400;500&family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Bitter', serif;
}
html {
	padding: 0;
	margin: 0;
}
.container {
	padding: 0 75px;
}
/* navbar */
.navbar {
	position: fixed;
	left: 0;
	width: 100%;
	height: 15vh;
	transition: all 0.4s ease;
	z-index: 99;
}
.navbar.sticky {
	padding: 0;
	background: rgba(0, 0, 0);
}
.navbar.sticky {
	height: 75px;
}
.header .container .navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 75px;
}
.header .container .navbar .margin-around .menu li {
	list-style: none;
	display: inline-block;
}
.header .container .navbar .margin-around {
	margin: 20px;
}
.header .container .navbar .margin-around .menu li {
	text-align: center;
	padding: 0 10px;
}
.header .container .navbar .logo a {
	color: #fff;
	transition: color 0.3s ease;
}
.header .container .navbar .logo a:hover {
	color: #2396ff;
	transition: color 0.3s ease;
}
.header .container .navbar .logo a i {
	font-size: 25px;
	padding-left: 50px;
}
.header .container .navbar .logo a,
.margin-around .menu li a {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	transition: color 0.3s ease;
}
.header .container .navbar .margin-around .menu li a:hover {
	color: #2396ff;
}
.header .container .navbar .margin-around .hamburger-btn {
	display: none;
	cursor: pointer;
}
.header .container .navbar .margin-around .hamburger-btn div {
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	transition: all 1s ease;
}
.rotate .bar1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.rotate .bar2 {
	opacity: 0;
}
.rotate .bar3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
/* home */
#home {
	display: flex;
	height: 100vh;
	color: #fff;
	min-height: 500px;
	position: relative;
}
#home > * {
	position: relative;
	z-index: 9;
}
.background-image:nth-of-type(1) {
	background-image: url('/style/images/Pictures/background_project_image/Skyline_Almere.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.background-image::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}
.content-name {
	padding: 0 0 50px 50px;
	position: absolute;
	width: max-content;
	bottom: 0;
}
.name-me {
	font-size: 50px;
	line-height: 1.2;
	text-shadow: 2px 2px 5px #000;
}
.develop-me {
	position: absolute;
	width: 100%;
}
.a-work {
	font-size: 22px;
	font-weight: 200;
	text-shadow: 3px 3px 10px #000;
}
#cv {
	border: none;
	display: inline-block;
	margin-top: 35px;
	padding: 6px 10px 6px 10px;
	background: #000;
	border: 1px solid #2396ff;
	border-radius: 8px;
	cursor: pointer;
}
#cv:hover {
	background: #2396ff;
}
.cv-button a {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
}
/* about */
section {
	padding: 100px 0;
}
.vis-content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	box-sizing: border-box;
}
.vis-content .img-sector .img {
	margin: 5px;
}
.vis-content .img-sector .img img {
	border-radius: 15%;
	width: 450px;
	height: 350px;
	object-fit: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.vis-content .about-content {
	padding: 10px;
	width: 40%;
}
.vis-content .about-content .about-me {
	padding: 5px;
	font-family: 'Noto Serif KR', serif;
}
.about .container .vis-content .about-content .about-me h2 {
	font-weight: 600;
	font-size: 20px;
	padding: 0 0 15px 0;
}
.about .container .vis-content .about-content .about-me .paragraaf p {
	font-size: 14px;
	font-weight: 500;
	line-height: 27px;
	margin-bottom: 5px;
}
#upper {
	text-transform: uppercase;
	font-weight: bold;
}
#italic {
	font-style: italic;
	padding-right: 5px;
}
.about .container .vis-content .about-content .about-me .contact-me {
	margin: 15px 0;
}
.about
	.container
	.vis-content
	.about-content
	.about-me
	.contact-me
	#title-contact-me {
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 15px 0;
}
.about .container .vis-content .about-content .about-me .contact-me h6 {
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;
}
.about .container .vis-content .about-content .about-me .contact-me .blue {
	color: #000;
}
/* Project */
.projects .container .project-view .project-title,
.project-types,
.project-content,
.upcomming-project {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.projects .container .project-view .project-title .title-content h1 {
	text-align: center;
	padding: 5px;
	font-size: 50px;
}
.projects .container .project-view .project-title .title-content p {
	font-size: 18px;
	font-weight: 400;
	padding: 5px;
}
.projects .container .project-view .project-types .portfolio-subtitles {
	padding: 30px 0 50px 0;
}
.projects .container .project-view .project-types .portfolio-subtitles ul{
	display: flex;
}
.projects .container .project-view .project-types .portfolio-subtitles ul li {
	list-style-type: none;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 15px;
	border: none;
	background-color: #fff;
}
.projects .container .project-view .project-types .portfolio-subtitles ul li {
	color: #000;
	outline: none;
	cursor: pointer;
}
.projects
	.container
	.project-view
	.project-types
	.portfolio-subtitles
	ul li:hover {
	color: #2396ff;
}
.projects .container .project-view .project-content .project-img-sector {
	width: 350px;
	height: 350px;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.6s ease-out;
	box-shadow: 0 10px 10px rgba(0, 0, 0.5);
	margin: 20px;
}
.projects .container .project-view .project-content .project-img-sector:hover {
	transform: translateY(15px);
}
.projects
	.container
	.project-view
	.project-content
	.project-img-sector:hover::before {
	opacity: 1;
}
.projects
	.container
	.project-view
	.project-content
	.project-img-sector:hover
	.overlay {
	opacity: 1;
	transform: translateY(0);
}
.projects
	.container
	.project-view
	.project-content
	.project-img-sector::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000, transparent);
	z-index: 9;
	transition: 0.5s;
	opacity: 0;
}
.projects .container .project-view .project-content .project-img-sector img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.projects
	.container
	.project-view
	.project-content
	.project-img-sector
	.overlay {
	position: relative;
	z-index: 10;
	opacity: 0;
	transition: 0.5s;
	transform: translate(-50%, -50%);
}
.projects
	.container
	.project-view
	.project-content
	.project-img-sector
	.overlay
	.overlay-txt {
	color: #fff;
}
.projects
	.container
	.project-view
	.project-content
	.project-img-sector
	.overlay
	h5 {
	margin: 0;
	letter-spacing: 3px;
}
.projects
	.container
	.project-view
	.project-content
	.project-img-sector
	.overlay
	p {
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 8px;
}
.projects .container .project-view .upcomming-project {
	margin: 22px;
	font-size: 12px;
	font-weight: 600;
}
/* Skills & Tools Section */
.skills-tools .container .skills-tools-view .skills-tools-title,
.skills-tools-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skills-tools .container .skills-tools-view .skills-tools-title,
.title-content h1 {
	text-align: center;
	padding: 5px;
	font-size: 50px;
}
.skills-tools .container .skills-tools-view .skills-tools-title,
.skills-tools-content p {
	font-size: 18px;
	font-weight: 400;
	padding: 15px 5px;
	text-align: center;
}
.skills-tools .container .skills-tools-view .skills-tools-content {
	text-align: center;
}
.skills-tools .container .skills-tools-view .skills-tools-content .img-content {
	width: 22%;
	padding: 0 20px;
	margin: 20px 0;
}
.skills-tools
	.container
	.skills-tools-view
	.skills-tools-content
	.img-content
	img {
	width: 80px;
	height: 80px;
}
.skills-tools
	.container
	.skills-tools-view
	.skills-tools-content
	.img-content
	h5 {
	padding-top: 15px;
	font-size: 20px;
}
.skills-tools
	.container
	.skills-tools-view
	.skills-tools-content
	.img-content
	h5
	span {
	font-size: 16px;
}
/* Contact */
.contact .container .vis-contact .contact-title {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.contact .container .vis-contact .contact-title .title-contact {
	width: calc(40% - 30px);
}
.contact .container .vis-contact .contact-title form {
	width: calc(60% - 30px);
}
.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.form-contact-info
	h1,
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.form-contact-info
	h1 {
	font-size: 60px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.form-contact-info
	p {
	font-size: 20px;
	padding: 30px 0;
	flex: 100%;
}
.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.field-contact
	.form-contact {
	display: flex;
	padding: 5px 0;
}
.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.field-contact
	.form-contact
	a {
	border: 2px solid #2396ff;
	border-radius: 50%;
	color: #000;
	height: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.field-contact
	.form-contact
	a:hover {
		border: 2px solid #000000;
		color: #2396ff;
}

.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.field-contact
	.form-contact
	.contact-info {
	margin-left: 20px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.field-contact
	.form-contact
	.contact-info
	h3 {
	font-size: 22px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.title-contact
	.field-contact
	.form-contact
	.contact-info
	p {
	padding-top: 6px;
	font-size: 15px;
}
.contact .container .vis-contact .contact-title .form-content .field-area {
	margin-top: 20px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.fields {
	display: flex;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.fields,
.field {
	height: 60px;
	width: 100%;
	margin-bottom: 20px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.field
	textarea {
	height: 100px;
	width: 100%;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.fields
	.name {
	margin-right: 10px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.fields
	.email {
	margin-left: 10px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.fields
	.field
	input,
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.textarea
	textarea,
.field input {
	height: 100%;
	width: 100%;
	border-radius: 1px solid lightgrey;
	border-radius: 10px;
	outline: none;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.textarea
	textarea {
	resize: none;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.btn-area {
	margin-top: 70px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.btn-area
	.button {
	height: 50px;
	width: 150px;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.btn-area
	.button
	button {
	height: 100%;
	width: 100%;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	border: 3px solid #ffffff;
	background-color: #2396ff ;
	cursor: pointer;
}
.contact
	.container
	.vis-contact
	.contact-title
	.form-content
	.field-area
	.btn-area
	.button
	button:hover {
	border: 3px solid #000000;
	color: #ffffff;
}
/* Footer */
footer {
	background-color: #000;
	padding: 50px;
}
.rights {
	color: #fff;
	text-align: center;
}
h5 {
	font-size: 15px;
	padding: 10px 0;
	margin-bottom: 10px;
}
footer .rights div a {
	font-size: 22px;
	padding: 16px;
	cursor: pointer;
	color: #fff;
}
footer .rights div a:hover {
	color: #2396ff;
	transition: color 0.3s ease;
}
/* media query */
@media (max-width: 1300px) {
	.home .container {
		margin-left: 0;
	}
	.projects .container .project-view .project-content .project-img-sector {
		width: 250px;
		height: 250px;
	}
}
@media (max-width: 1235px) {
	.home .container {
		margin-left: 60px;
	}
}
@media (max-width: 1188px) {
	.home .container {
		margin-left: 40px;
	}
	.vis-content .img-sector .img img {
		width: 400px;
		height: 300px;
	}
}
@media (max-width: 1052px) {
	.container {
		padding: 0 50px;
	}
	.header .container .navbar .margin-around .menu {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgba(0, 0, 0, 0);
		transform: translateY(-100%);
		transition: transform 0.6s ease-in;
	}
	.header .container .navbar .margin-around .menu li {
		opacity: 0;
		margin-top: 50px;
	}
	.header .container .navbar .margin-around .menu li a {
		font-size: 40px;
	}
	.header .container .navbar .margin-around .menu.active {
		transform: translateY(0%);
		background: rgb(0, 0, 0);
	}
	.header .container .navbar .margin-around .hamburger-btn {
		display: block;
		position: relative;
	}
	.about .container .vis-content .about-content .about-me {
		text-align: center;
	}
	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateY(100%);
		}
		to {
			opacity: 1;
			transform: translateY(0%);
		}
	}
	.name-me {
		font-size: 50px;
		line-height: 1.1;
	}
	b {
		font-size: 22px;
		font-weight: 200;
	}
	.cv-button {
		padding: 6px 10px 6px 10px;
	}
	.cv-button a {
		font-size: 22px;
	}
	.vis-content .img-sector .img img {
		width: 450px;
		height: 350px;
	}
	.about .container .vis-content .about-content {
		flex: 100%;
	}
	.projects .container .project-view .project-title .title-content p {
		font-size: 16px;
		flex: 100%;
		text-align: center;
	}
	.skills-tools .container .skills-tools-view .skills-tools-content {
		padding: 0 50px;
	}
	.contact .container .vis-contact .contact-title .title-contact {
		display: flex;
		width: calc(100% - 30px);
	}
	.contact .container .vis-contact .contact-title .form-content {
		width: calc(100% - 30px);
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		p {
		font-size: 20px;
		padding: 30px 10px 30px 0;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact {
		padding: 15px;
	}
}
@media (max-width: 888px) {
	.name-me {
		font-size: 45px;
		line-height: 1;
	}
	b {
		font-size: 20px;
		font-weight: 200;
	}
	.header .container .navbar .margin-around .menu li a {
		font-size: 30px;
	}
	.projects .container .project-view .project-title .title-content h1 {
		font-size: 45px;
	}
	.projects .container .project-view .project-types {
		padding: 0 60px;
	}
	.projects .container .project-view .project-content .project-img-sector {
		width: 500px;
		height: 500px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		p {
		font-size: 18px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.btn-area {
		margin-top: 40px;
	}
}
@media (max-width: 768px) {
	.home .container {
		margin-left: 0;
	}
	.header .container .navbar {
		padding: 0 55px;
	}
	.name-me {
		font-size: 40px;
		line-height: 1;
	}
	b {
		font-size: 18px;
		font-weight: 200;
	}
	.cv-button {
		padding: 5px 8px 5px 8px;
	}
	.cv-button a {
		font-size: 18px;
	}
	.vis-content .img-sector .img img {
		width: 400px;
		height: 300px;
	}
	.projects .container .project-view .project-title .title-content p {
		width: 100%;
	}
	.projects .container .project-view .project-types {
		padding: 0;
	}
	.projects .container .project-view .project-types .portfolio-subtitles {
		text-align: center;
	}
	.projects .container .project-view .project-types .portfolio-subtitles a {
		font-size: 18px;
		flex: 100%;
	}
	.projects .container .project-view .project-content .project-img-sector {
		width: 400px;
		height: 400px;
	}
	.skills-tools .container .skills-tools-view .skills-tools-content {
		padding: 0 10px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content {
		width: 30%;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		img {
		width: 100px;
		height: 100px;
	}
	section {
		padding: 80px 0 0 0;
	}
	#contact {
		padding: 90px 0;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		h1 {
		font-size: 55px;
		padding: 5px 0;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		p {
		font-size: 22px;
		padding: 10px 0;
	}
	.contact .container .vis-contact .contact-title .title-contact {
		display: block;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info {
		text-align: center;
		width: 100%;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact {
		display: flex;
		justify-content: center;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact
		.form-contact
		.contact-info {
		display: none;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact
		.form-contact
		a {
		height: 70px;
		width: 70px;
		margin: 20px;
		line-height: 70px;
		font-size: 35px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact {
		padding: 5px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.form-contact-info
		h1 {
		font-size: 55px;
		text-align: center;
	}
	.contact .container .vis-contact .contact-title .form-content .field-area {
		display: block;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.field {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.fields
		.field
		input {
		width: 100%;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.btn-area {
		margin-top: 20px;
	}
	h5 {
		font-size: 12px;
		padding: 8px 0;
	}
	footer .rights div a {
		font-size: 20px;
		padding: 14px;
	}
}
@media (max-width: 545px) {
	.home .container .home-content .content-name {
		padding: 0 0 30px 30px;
		bottom: 80px;
	}
	.header .container .navbar .margin-around .menu li a {
		font-size: 25px;
	}
	.header .container .navbar {
		padding: 0 50px;
	}
	.header .container .navbar .logo a i {
		padding-left: 25px;
	}
	.projects .container .project-view .project-content .project-img-sector {
		width: 350px;
		height: 350px;
	}
	.name-me {
		font-size: 30px;
		line-height: 1;
	}
	.cv-button {
		padding: 4px 7px 4px 7px;
	}
	.cv-button a {
		font-size: 15px;
		font-weight: 500;
	}
	.vis-content .img-sector .img img {
		width: 350px;
		height: 250px;
	}
	.about .container .vis-content .about-content .about-me h2 {
		font-size: 18px;
	}
	.about .container .vis-content .about-content .about-me .paragraaf p {
		font-size: 12px;
		text-align: center;
	}
	.about
		.container
		.vis-content
		.about-content
		.about-me
		.contact-me
		#title-contact-me {
		font-size: 14px;
	}
	.about .container .vis-content .about-content .about-me .contact-me h6 {
		font-size: 12px;
	}
	.about .container .vis-content .about-content .about-me .cv-button a {
		font-size: 18px;
	}
	.projects .container .project-view .project-content {
		padding: 0;
	}
	.skills-tools .container .skills-tools-view .skills-tools-content {
		padding: 0 5px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		img {
		width: 80px;
		height: 80px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		h5 {
		padding-top: 15px;
		font-size: 18px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		h5
		span {
		font-size: 14px;
	}
	.skills-tools .container .skills-tools-view .skills-tools-title {
		padding: 0 1px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		h1,
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.form-contact-info
		h1 {
		font-size: 40px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		p {
		font-size: 18px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact
		.form-contact
		a {
		height: 60px;
		width: 60px;
		line-height: 60px;
		font-size: 30px;
	}
	footer {
		padding: 40px;
	}
	h5 {
		font-size: 10px;
	}
	footer .rights div a {
		font-size: 18px;
	}
}
@media (max-width: 460px) {
	.header .container .navbar {
		padding: 0 30px;
	}
	.home .container .home-content .content-name {
		padding: 0 0 10px 10px;
	}
	.projects .container .project-view .project-content .project-img-sector {
		width: 300px;
		height: 300px;
	}
	.vis-content .img-sector .img img {
		width: 300px;
		height: 200px;
	}
	.vis-content {
		padding: 0;
	}
	.about .container .vis-content .about-content {
		padding: 0;
	}
	.about .container .vis-content .about-content .about-me h2 {
		font-size: 16px;
	}
	.projects
		.container
		.project-view
		.project-types
		.portfolio-subtitles
		ul li {
		font-size: 12px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content {
		width: 50%;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		img {
		width: 100px;
		height: 100px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		h1,
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.form-contact-info
		h1 {
		font-size: 35px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		p {
		font-size: 18px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.fields
		.field
		input,
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.textarea
		textarea,
	.field input {
		font-size: 14px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.btn-area
		.button {
		height: 40px;
		width: 100px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.field-area
		.btn-area {
		margin-top: 10px;
	}
	#contact {
		padding: 80px 0;
	}
}
@media (max-width: 390px) {
	.header .container .navbar.sticky {
		padding: 0 20px;
	}
	.header .container .navbar .margin-around .menu li {
		margin-top: 40px;
	}
	.header .container .navbar .margin-around .menu li a {
		font-size: 25px;
	}
	.header .container .navbar {
		padding: 0 25px;
	}
	.projects .container .project-view .project-content .project-img-sector {
		width: 250px;
		height: 250px;
	}
	.projects .container .project-view .upcomming-project {
		font-size: 10px;
	}
	.cv-button {
		padding: 3px 6px 3px 6px;
	}
	.cv-button a {
		font-size: 16px;
		font-weight: 400;
	}
	.vis-content .img-sector .img img {
		width: 280px;
		height: 180px;
	}
	.about .container .vis-content .about-content .about-me h2 {
		font-size: 16px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content {
		padding: 0;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		img {
		width: 80px;
		height: 80px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		h5 {
		padding-top: 15px;
		font-size: 16px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		h5
		span {
		font-size: 12px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact
		.form-contact
		a {
		margin: 10px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact
		.form-contact
		a {
		height: 50px;
		width: 50px;
		line-height: 50px;
		font-size: 25px;
	}
	footer {
		padding: 35px;
	}
	h5 {
		font-size: 10px;
	}
	footer .rights div a {
		font-size: 15px;
	}
}
@media (max-width: 320px) {
	.header .container .navbar.sticky {
		padding: 0 10px;
	}
	.projects .container .project-view .project-content .project-img-sector {
		width: 200px;
		height: 200px;
	}
	.projects .container .project-view .upcomming-project {
		font-size: 8px;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content {
		width: 50%;
	}
	.skills-tools
		.container
		.skills-tools-view
		.skills-tools-content
		.img-content
		img {
		width: 50px;
		height: 50px;
	}

	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		h1,
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.form-contact-info
		h1 {
		font-size: 30px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.form-content
		.form-contact-info
		h1 {
		width: 100%;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.form-contact-info
		p {
		font-size: 14px;
	}
	.contact
		.container
		.vis-contact
		.contact-title
		.title-contact
		.field-contact
		.form-contact
		a {
		margin: 8px;
	}
}
